{
  "dbName": "FacebookChatHistory.db",
  "username": "",
  "password": "",
  "threadId": "You can find this by going to messenger.com and clicking on the thread. It'll be in the URL",
  "batchSize": 9999
}
